html,
body {
	padding: 0;
	margin: 0;
}

.container {
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	padding-top: $navbar-height;
}

a {
	cursor: pointer;
}

a.fa {
	text-decoration: none;
	color: #000000;
}
