.navbar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	background-color: #0D0D0D;
	box-shadow: 1px 0 10px 5px rgba(0,0,0,0.5);
}
.nav {
	width: 100%;
}
.new-tweet-button {
	margin-top: 8px;
	font-size: 15pt;
	padding: 3px 20px 1px 20px;
	border-radius: 0;
}