.tweet {
	img {
		margin-bottom: 1em;
    display: block;
    width:400px;
    max-width: 100%;
	}

	img.media-object {
		border-radius: .25em;
		box-shadow: 0px .5px #eee;
	}

	h4 {
		font-size: 1.3em;
		cursor: pointer;
	}

	> .media-body {
		word-break: break-all;
	}

	&__text {
		color: #FFF;
	}

	&--retweeted-by-user {
		a.fa-retweet {
			color: #00bb00;
		}
	}

	&--favorited-by-user {
		a.fa-star {
			color: yellow;
		}
	}

	&--gif,
	&--video {
		max-width: 100%;
	}
}
