.tweet {
	word-break: break-word;

	&__text {
		color: #FFF;
	}

	&__heading {
		font-size: 1.3em;
		cursor: pointer;
	}

	&__avatar {
		border-radius: .25em;
		box-shadow: 0px .5px #eee;
	}

	&__media {
		&--image {
			display: block;
			max-width: 400px;
			margin-bottom: 1em;
		}

		&--gif,
		&--video {
			max-width: 100%;
		}
	}

	&__actions {
		> * {
			padding: 0 1em;
		}
	}

	&--retweeted-by-user {
		a.fa-retweet {
			color: #00bb00;
		}
	}

	&--favorited-by-user {
		a.fa-star {
			color: yellow;
		}
	}
}
