<div
	ng-if="!tweets.length"
	class="text-center"
	style="margin: 1em;">
	<i class="fa fa-2x fa-spin fa-circle-o-notch"></i>
</div>

<ul class="list-group">
	<li
		class="tweet list-group-item"
		ng-class="{
			'tweet--retweeted-by-user' : tweet.retweeted_by_user || tweet.retweeted,
			'tweet--favorited-by-user': tweet.favorited
		}"
		ng-click="logTweet(tweet)"
		ng-repeat="tweet in tweets">
		<div
			class="text-right"
			ng-if="tweet.retweeted_status">
			<small>
				<i class="fa fa-retweet"></i> Retweeted by @{{ tweet.user.screen_name }}
			</small>
		</div>

		<div class="media">
			<div class="media-left">
				<a>
					<img
						class="media-object tweet__avatar"
						ng-if="tweet.retweeted_status"
						ng-click="showProfileModal(tweet.retweeted_status)"
						alt="{{ tweet.retweeted_status.user.name }}"
						ng-src="{{ tweet.retweeted_status.user.profile_image_url }}">
					<img
						class="media-object tweet__avatar"
						ng-if="!tweet.retweeted_status"
						ng-click="showProfileModal(tweet)"
						alt="{{ tweet.user.name }}"
						ng-src="{{ tweet.user.profile_image_url }}">
				</a>
			</div>

			<div class="media-body">
				<h4
					ng-click="showProfileModal(tweet.retweeted_status)"
					ng-if="tweet.retweeted_status" class="media-heading">
					{{ tweet.retweeted_status.user.name }}
					<small>@{{ tweet.retweeted_status.user.screen_name }}</small>
				</h4>

				<h4
					ng-click="showProfileModal(tweet)"
					ng-if="!tweet.retweeted_status"
					class="media-heading tweet__heading">
					{{ tweet.user.name }}
					<small>@{{ tweet.user.screen_name }}</small>
				</h4>

				<p
					class="tweet__text"
					ng-if="tweet.retweeted_status"
					ng-bind-html="tweet.retweeted_status.text"></p>

				<p
					class="tweet__text"
					ng-if="!tweet.retweeted_status"
					ng-bind-html="tweet.text"></p>

				<div ng-repeat="media in tweet.extended_entities.media">
					<img
						class="tweet__media--image"
						ng-click="showPictureModal(media.media_url_https)"
						ng-if="media.type == 'photo'"
						ng-src="{{ media.media_url_https }}"
						width="100%">

					<video
						controls="true"
						type="video/mp4"
						ng-if="media.type == 'video'"
						class="tweet__media--video"
						ng-src="{{ media.video_info.variants[0].url }}">
					</video>

					<video
						autoplay="autoplay"
						loop="loop"
						type="video/mp4"
						style="width: {{ media.sizes.medium.w }}px"
						ng-if="media.type == 'animated_gif'"
						class="tweet__media--gif"
						ng-src="{{ media.video_info.variants[0].url }}">
					</video>
				</div>


				<div
					ng-if="!tweet.retweeted_status"
					class="text-left tweet__actions">
					<a
						class="fa fa-retweet"
						ng-if="!tweet.user.protected"
						ng-click="retweet(tweet, $index)"></a>
					<span ng-if="!tweet.user.protected" class="badge">{{ tweet.retweet_count }}</span>
					<a class="fa fa-star" ng-click="favorite(tweet)"></a>
					<span class="badge">{{ tweet.favorite_count }}</span>
					<a class="fa fa-reply" ng-click="showReplyModal(tweet)"></a>
				</div>

				<div
					ng-if="tweet.retweeted_status"
					class="text-left tweet__actions">
					<a class="fa fa-retweet" ng-click="retweet(tweet.retweeted_status, $index)"></a>
					<span class="badge">{{ tweet.retweeted_status.retweet_count }}</span>
					<a class="fa fa-star" ng-click="favorite(tweet.retweeted_status)"></a>
					<span class="badge">{{ tweet.retweeted_status.favorite_count }}</span>
					<a class="fa fa-reply" ng-click="showReplyModal(tweet.retweeted_status)"></a>
				</div>
			</div>
		</div>
	</li>
</ul>
