<div class="reply-modal">
  <div class="modal-header">
    <h3
      ng-click="showProfileModal(tweet)"
      class="modal-title">
      Reply @{{tweet.user.screen_name}}
    </h3>
  </div>

  <div class="modal-body">
    <div class="media">
      <div class="media-left">
        <img
        class="media-object"
        ng-if="!tweet.retweeted_status"
        ng-click="showProfileModal(tweet)"
        alt="{{ tweet.user.name }}"
        ng-src="{{ tweet.user.profile_image_url }}">
      </div>

      <div class="media-body">
        <h4
          ng-click="showProfileModal(tweet)"
          class="media-heading">
          {{ tweet.user.name }} <small>@{{ tweet.user.screen_name }}</small>
        </h4>

        <p ng-bind-html="tweet.text"></p>
      </div>
    </div>
    <br>
    <textarea
      rows="5"
      class="form-control"
      ng-model="replyObject.status"
      autofocus>
    </textarea>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      ng-click="ok()">
      Reply
    </button>
    <button
      class="btn"
      type="button"
      ng-click="cancel()">
      Cancel
    </button>
  </div>
</div>
