<!DOCTYPE html>
<html ng-app="winter">
	<head>
		<meta charset="utf-8">
		<title>Winter</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<section class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarController">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li class="active"><a ng-click="goHome()">Home</a></li>
						<button 
							class="btn btn-primary new-tweet-button text-left pull-right" 
							ng-click="showNewTweetModal()"
						>
							<span class="fa fa-pencil-square-o"></span>
						</button>
					</ul>
				</ul>
				</div>
			</nav>

			<ng-view></ng-view>
		</section>

		<script src="js/app.js"></script>
	</body>
</html>
