<!DOCTYPE html>
<html ng-app="winter">
	<head>
		<meta charset="utf-8">
		<title>Winter</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<section class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarController">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">Winter</a>
					</div>

					<ul class="nav navbar-nav navbar-left">
						<li class="active"><a ng-click="goHome()">Home</a></li>
						<li> <a href="#">Mentions</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<button
							ng-click="showNewTweetModal()"
							class="btn btn-primary">
							<i class="fa fa-twitter"></i>
						</button>
					</li>
				</ul>
				</div>
			</nav>

			<ng-view></ng-view>
		</section>

		<script src="js/app.js"></script>
	</body>
</html>
